In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("House.csv")

In [3]:
data

     Bedrooms  Bathrooms  Status  Location  Price  Facing  Type  Size
0           3          0       3        89  119.0       1     0  2215
1           3          0       3        78  168.0       1     0  2245
2           3          0       3        88  148.0       1     0  2004
3           2          0       3        65  162.0       1     0  2038
4           3          0       1        82  144.0       1     0  2150
..        ...        ...     ...       ...    ...     ...   ...   ...
545         8          4       1        64  625.0       1     5  4795
546         3          3       1        64  101.0       1     5  1726
547         3          3       3       103  122.0       0     2  2040
548         3          3       1        60  205.0       1     5  1926
549         5          0       1       141  300.0       1     0  2450

[550 rows x 8 columns]

In [4]:
!pip install requests

Requirement already satisfied: requests in c:\users\admin\desktop\kits\kitscse\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\admin\desktop\kits\kitscse\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\desktop\kits\kitscse\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\admin\desktop\kits\kitscse\lib\site-packages (from requests) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\desktop\kits\kitscse\lib\site-packages (from requests) (2023.11.17)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import requests

In [6]:
u="https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city"
data=requests.get(u)

In [7]:
data

In [8]:
def remove_outliers(df,threshold=3):
    df_cleaned=df.copy()
    for col in df_cleaned.select_dtypes(include=['int64','float64']).columns:
        Q1=df_cleaned[col].quantile(0.25)#25th percentile
        Q3=df_cleaned[col].quantile(0.25)#75th percentile
        IQR=Q3-Q1#Interquantile range
        lower_bound=Q1-threshold *IQR
        upper_bound=Q3-threshold *IQR
        df_cleaned=df_cleaned[(df_cleaned[col]>=lower_bound)&(df_cleaned[col]>=upper_bound)]
    return df_cleaned

In [9]:
df=remove_outliers(data)
df

AttributeError: 'Response' object has no attribute 'copy'

In [ ]:
df.to_csv("House.csv",index=False)
df.info()

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv('House.csv')
df.head()

In [ ]:
df.info()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
a,b=np.arange(1,10).reshape(5,2),range(5)
a,b

In [ ]:
w,p,q,r=train_test_split(a,b,random_state=1,test_size=0.3)
w,p,q,r

In [ ]:
df.info()

In [ ]:
df.info()

In [ ]:
x.head()

In [ ]:
y.head()

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=30)

In [ ]:
len(x_train),len(x_test)

In [ ]:
lin_reg=LinearRegression()

In [ ]:
lin_reg.fit(x_train,y_train)

In [ ]:
y_preds=lin_reg.predict(x_test)#prediction values for y
y_test

In [ ]:
y_preds,x_test

In [ ]:
from sklearn.metrics import r2_score,mean_squared_error

In [ ]:
print("Linear Regression Metrics/Model Evaluation:")
print('R-Squared Error:',r2_score(y_test,y_preds))
print("Mean squared error",mean_squared_error(y_test,y_preds))

In [ ]:
x.columns

In [ ]:
bedrooms=int(input('Enter no of bedrooms'))
bathrooms=int(input('Enter no of bathrooms'))
status=int(input('Enter Status'))
size=int(input('Enter size in sqft'))
location=int(input('Enter location'))
facing=int(input('enter facing'))
Type=int(input('enter type'))

In [ ]:
user_input=np.array([[bedrooms,bathrooms,status,size,location,facing,Type]])
user_input

In [ ]:
result=lin_reg.predict(user_input)[0].round(2)
result

In [ ]:
import pickle
pickle.dump(lin_reg,open('lin_model.pkl','wb'))

In [ ]:
model=pickle.load(open('lin_model.pkl','rb'))
user_input=np.array([[bedrooms,bathrooms,status,size,location,facing,Type]])
user_input
result=lin_reg.predict(user_input)[0].round(2)
result

In [ ]:
!pip install streamlit